<div class="col-13 col-sm-6"  >
    <div class="date"  id="date"  data-target-input="nearest" >
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
       <!-- <input type="date" name="date"   id="txtDate"   onchange="showSlote(this.value)" -->
       
       <input type="date" name="date"   id="txtDate"   required
       
           class="form-control bg-light border-0 datetimepicker-input"
           placeholder="Date" style="height: 55px" >
   </div>
 </div>